
langchain
langchain-groq
streamlit
streamlit-option-menu
streamlit-lottie
python-dotenv
requests
gTTS

edge-tts
SpeechRecognition
pyaudio 
transformers
torch  
torch
streamlit
deep-translator
gTTS
pydub
speechrecognition
transformers
streamlit-option-menu
