gspread
oauth2client
langchain
langchain-groq
streamlit
streamlit-option-menu
streamlit-lottie
python-dotenv
requests
gTTS

edge-tts
SpeechRecognition
pyaudio 
transformers
torch  
torch
streamlit
deep-translator
gTTS
pydub
speechrecognition
transformers
streamlit-option-menu
streamlit
gspread
oauth2client
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pydub
SpeechRecognition
